$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/*Demo Options*/

#demo{
	width : 100%;
	border: 2px solid grey;
	margin:auto;
}

#demoOptions{
	width:100%;
	background:grey;
	margin:auto;
	padding:10px;
}

$button-dimention : 60px;

#demoDice {
	text-align:center;
	
	button{
    	height:$button-dimention;
    	width:$button-dimention;
		margin-right:5px;
	}
}

#demoCrud {
	text-align:center;
	
	button{
		margin-top:10px;
		height:50px;
    	width:48%;
		margin-right:5px;
	}
}

#diceCanvas{
	width:100%;
	height:500px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
